*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

@keyframes bg-animation{
    0%{
        background-position: left;
    }
    100%{
        background-position:right;
    }
}

:root {
--gradient: linear-gradient(
    45deg, 
    #fae900,
    #5c3c92,
    #000000
);
  
}

html {
    scroll-behavior: smooth;
}

body{
    background-image: var(--gradient);
    animation: bg-animation 3s ease-in-out infinite alternate;
    background-position: cover;
    background-position: center;
    background-size: cover;
    position: relative;
    background-position: center;
    background-size: 250%;
    position: relative;
    background-attachment: fixed;
    transition: 500ms ease-in-out;
}

/*Content*/
.about-us{
    text-align: center;
    margin: 15rem;
    color:black;
    position: relative;
   
}

.about-us h1{
    font-size: 70px;
    color:white;
    text-decoration: underline;
    font-style: italic;
    transition: 1000ms ease-in-out;
}

.about-us p{
    font-size: 25px;
    font-weight: 450;
    transition: 1000ms ease-in-out;

}

/*Homepage button*/
@keyframes float {
	0% {
    	transform: translateY(10px);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(10px);
	}
}

.back-btn{
    width: 15%;
    text-align: center;
    animation: float 2s ease-in-out infinite;
}

.back-btn button{
    text-decoration: none !important;
    color: black;
    width: 80px;
    height: 70px;
    font-size: 30px;
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
    transition: 300ms ease-in-out;
    
}

.back-btn button:hover{
    background: white;
    color: black;
    cursor: pointer;
    transition: 300ms ease-in-out;
}