*{
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
}

@keyframes bg-animation{
    0%{
        background-position: left;
    }
    100%{
        background-position:right;
    }
}

:root {
--gradient: linear-gradient(
    45deg,
    #5ee3e8,
    #dc50ca
);
  
}

html {
    scroll-behavior: smooth;
}

body{
    background-image: var(--gradient);
    animation: bg-animation 3s ease-in-out infinite alternate;
    background-position: cover;
    background-size: 250%;
    position: relative;
    background-attachment: fixed;
    transition: 500ms ease-in-out;
}

/*Content*/
.about-us{
    text-align: center;
    margin: 15rem;
    color: #363636;
    position: relative;
}

.about-us h1{
    font-size: 70px;
    color: #494949;
    text-decoration: underline;
    font-style: italic;
}

.about-us p{
    font-size: 25px;
    font-weight: 450;
    transition: 1000ms ease-in-out;
}

.back-btn{
    width: 15%;
    text-align: center;
}

.back-btn button{
    text-decoration: none !important;
    color: black;
    width: 80px;
    height: 80px;
    margin-top: 0;
    font-size: 30px;
    align-items: center;
    border: 3px solid black;
    border-radius: 15px;
    transition: 300ms ease-in-out;
}

.back-btn button:hover{
    background: white;
    color: black;
    cursor: pointer;
    transition: 300ms ease-in-out;
}

footer{
    background: var(--gradient);
    background-size: 150%;
    animation: bg-animation 2s infinite alternate;
    font-size: 20px;
}

.row .author{
    text-align: center;
    padding-left: 1em;
}



span.link{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
}

.displayMe{
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    z-index: 100;
}

.displayMe img{
    width: 100%;
    box-shadow: 2px 2px 5px;
}

.esports{
    color: #363636;
}